<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>

<div class="container-fluid bg-dark">
    <nav class="navbar navbar-dark sticky-top bg-dark py-1 m-0">
        <a class="navbar-brand" style="color: #ffffff">
            <b>
                <tr th:text="${user.email}"></tr>
            </b>
            <tr>with roles:</tr>
            <tr th:text="${user.printRoles()}"></tr>
        </a>
        <a class="nav-link" style="color: #808080" th:href="'/logout'">Logout</a>
    </nav>
</div>

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-2 m-0 p-0"><br/>
            <ul class="nav flex-column nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#user_panel" role="tab"
                       aria-controls="user_panel" aria-selected="false">User</a>
                </li>
            </ul>
        </div>

        <div class="container-fluid col-md-10 bg-light px-4 py-3">

                <h1>User information page</h1>
                <div class="border border-muted rounded">
                    <div class="border rounded-top border-right-0 border-top-0 border-left-0 border-muted px-3 pt-2 pb-1"
                         style="background-color: #f1f1f1">
                        <h5>About user</h5>
                    </div>
                    <div class="container col-md p-4 m-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}">
                                <td th:text="${user.id}">ID</td>
                                <td th:text="${user.firstName}">Firstname</td>
                                <td th:text="${user.lastName}">Lastname</td>
                                <td th:text="${user.age}">Age</td>
                                <td th:text="${user.email}">Email</td>
                                <td th:text="${user.printRoles()}">Role</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>