<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

    <title>User panel</title>
</head>
<body>

<div class="container-fluid bg-dark">
    <nav class="navbar navbar-dark sticky-top bg-dark py-1 m-0">
        <a class="navbar-brand" style="color: #ffffff" id="navBarUser">
        </a>
        <a class="nav-link" type="button" style="color: #808080" href="/logout">Logout</a>
    </nav>
</div>

<div class="container-fluid h-100 m-0">
    <div class="row">

        <div class="col-md-2 m-0 p-0"><br>
            <ul class="nav flex-column nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#" role="tab"
                       aria-controls="user_panel" aria-selected="false">User</a>
                </li>
            </ul>
        </div>

        <div class="container-fluid col-md-10 bg-light px-4 py-3">
            <div class="tab-pane" id="user_panel" role="tabpanel">
                <h1>User information-page</h1>
                <div class="border border-muted rounded">
                    <div class="border rounded-top border-right-0 border-top-0 border-left-0 border-muted px-3 pt-2 pb-1"
                         style="background-color: #f1f1f1">
                        <h5>About user</h5>
                    </div>
                    <div class="container col-md p-4 m-0" style="background-color: white">
                        <table class="table table-striped" id="userTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="webjars/jquery/3.5.1/jquery.js"></script>
<script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="user.js"></script>
</body>
</html>
